* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'allerta', sans-serif;
}

.contenedor {
	width: 800px;
	margin: auto;
	position: relative;
}

.background {
	background-image: url('../images/background.png');
	background-size: cover;
}

.titulo {
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	margin-bottom: 20px;
	margin-top: 70px;
	line-height: 50px;
}

.titulo span {
	text-decoration: underline;
}

.title-a {
	font-size: 24px;
	line-height: 50px;
}

.guitarras {
	color: #1F213C;
	margin-bottom: 60px;
}

.guitarras h2 {
	font-family: 'Montserrat',
		sans-serif;
	font-size: 35px;
	margin-left: 30px;
	margin-top: 20px;

}

.guitarra {
	margin: 10px 10px 30px 10px;
	padding: 10px;
	/*overflow: hidden;*/
	border: 1px solid #1F213C;
	border-radius: 8px;
}

.guitarra.b {
	height: 190px;
}


.right {
	float: right;
	position: relative;
	top: -97px;
}

.left {
	float: left;
	position: relative;

}

.title-b {
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
}

.portada {
	color: white;
	padding: 20px;
	height: 500px;
}

.portada button {
	margin-bottom: 70px;
	font-size: 18px;
}

.header {
	position: relative;
}

.menu {
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0px;

}

.menu li {
	display: inline-block;
	margin-left: 30px;
}

.menu a {
	color: white;
	text-decoration: none;
}

.menu li:before {
	content: '∘';
	font-size: 45px;
	line-height: 40px;
	color: white;
}

.logotipo {
	display: inline-block;
}

.contenedor-guitarra-a {
	padding-left: 20px;
}

.contenedor-guitarra-b {
	margin-left: 380px;
	position: relative;
	bottom: 70px;

}

.button {
	border-radius: 8px;
	background: #fd324e;
	color: white;
	border: none;
	padding: 7px 12px;
	background: linear-gradient(to left, #fe344e, #ff7250);
	cursor: pointer;
	text-decoration: none;
}

.footer {
	background: #273b47;
	padding: 50px 10px;
}

.contacto {
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;

}

.contacto img {
	display: block;
}

.contacto strong {
	display: block;
}

.contacto a {
	color: white;
	text-decoration: none;
}

.footer .contenedor {
	display: flex;
	justify-content: space-around;
}

.formulario {
	display: flex;
	width: 400px;
	color: white;

}

.col1,
.col2 {
	display: flex;
	flex-direction: column;
}

.col1 {
	margin-right: 15px;
}

.col2 {
	align-items: flex-start;
}

.col2 .button {
	margin-top: 15px;
}

.intereses label {
	font-size: 12px;
}

.formulario label,
.sexo,
.intereses {
	margin-bottom: 10px;
}

.sexo {
	margin-top: 10px;
}

.tabla {
	margin: 50px 0px;
}

input,
textarea {
	outline: 0;
	border-radius: 3px;
}

input:focus,
textarea:focus {
	background: lightgray;

}

table {
	width: 100%;
}

th {
	background: #273b47;
	color: white;
	padding: 10px 20px;
	text-align: left;
}

td {
	padding: 20px;
}

table,
td,
th {
	border: 1px solid #273b47;
	border-collapse: collapse;
}