* {
  margin: 0;
  padding: 0;
}

body {
  background: peru;
}
.contenedor {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #273b47;
  color: white;
  align-items: center;
  position: relative;
  height: 50px;
}

img {
  border-radius: 50%;
}

.portada {
  display: flex;
}

.col1 {
  width: 70%;
  /* position: relative;
  top: 0; */
  margin-top: 0;
  background: lightblue;
  transition: 2s;
}

.col2 {
  width: 30%;
  position: relative;
  top: 0;
  transition: 2s;
  background: lightpink;
}

.logo {
  width: 40%;
}
.menu {
  position: absolute;
  top: 0;
  left: 70%;
  height: 50px;
  background-color: purple;
  transition: 2s;
}

.banner,
.menu {
  width: 30%;
}

.banner {
  background-color: lightgray;
  position: absolute;
  left: 310px;
  top: 0;
  transition: 2s;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .banner {
    left: 70%;
    top: 50px;
  }

  .col2 {
    top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    left: 0;
    top: 50px;
    transition: 2s;
    width: 70%;
  }

  .col1 {
    margin-top: 50px;
  }
}

@media screen and (max-width: 480px) {
  .col1 {
    margin-top: 100px;
    transition: 2s;
    width: auto;
  }
  .menu {
    width: 100%;
  }

  .banner {
    margin-top: 50px;
    left: 0;
    width: 100%;
  }

  .portada {
    display: block;
  }
  .col2 {
    width: auto;
    top: 0;
  }
}
